/bench_fault
/bench_fault_scale
/bench_fault_shmem
/bench_fault_file
/bench_fault_wp
/bench_fault_overhead
/bench_fault_overhead_baseline
/bench_fault_overhead_bpf
/test_shmem_fault
/test_wp_fault
/test_wp_read_fault
/test_file_fault
/test_sigbus_fault
/test_fork_fault
/test_multi_region
/*.bpf.o
/*.skel.h
/vmlinux.h
/build/
